# Visual Studio configs
.vs/
*.user
*.suo
*.sln.docstates

# Build Results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bin/
obj/

# Intermediate files
*.obj
*.tlog
*.recipe
*.ilk
*.pdb
*.idb
*.iobj
*.ipdb
*.exp
*.lib

# Logs
*.log
FableFunctions.log

# Temporary helper mod
FableMenu/
